.availableGames {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    border: thick solid black;
    padding-left: 20px;
    padding-top: 20px;
}

.joinButton {
    width: 200px;
    height: 30px;
}

.playerContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Optional padding around the container */
}

.playerLeft,
.playerRight {
    flex: 1; /* Each side takes up equal space */
}

.playerLeft {
    margin-right: 20px; /* Space between left and right sides */
}

.playerRight {
    margin-left: 20px; /* Space between left and right sides */
}
