# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# IDE directories
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Other specific files/directories to ignore
